<ion-header [translucent]="true">
  <ion-toolbar>
    <div>
      <ion-icon (click)="goBack()" name="arrow-back-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  

  <ion-grid>
    <ion-row>
      <ion-col>

        <h1>Everything We Learned About The Ghost Of Tsushima Sequel</h1>

        <img src="https://i.kinja-img.com/image/upload/c_fit,q_60,w_1600/7b11cfb5a92872e22a2381b61effea23.jpg" alt="">
      
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim magni vel, deserunt a atque ea nisi laborum, iure repellat ratione consequatur rem sint totam, suscipit eaque porro inventore aliquid ullam!</p>
      
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam itaque blanditiis iste dolor reiciendis minima distinctio nesciunt asperiores, ducimus laudantium recusandae soluta vitae eius a autem obcaecati est at praesentium.</p>
      
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque maiores sunt odit quia unde neque quo iste. Delectus illo, voluptatem neque nemo maiores atque unde et quasi accusantium voluptatibus qui?</p>
      
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, ex quis. Quas eaque nam deserunt voluptatibus animi odit illo, delectus ipsa deleniti. Dolorem voluptatem earum nostrum dolor beatae dignissimos harum?</p>
      
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In vero eum iusto itaque. Accusantium ad animi, optio voluptates repellendus, adipisci quidem quasi, pariatur necessitatibus alias culpa fugit cum illum amet!</p>
      </ion-col>
    </ion-row>
  </ion-grid>