<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header">
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
  @for (item of noticias; track item) {
    <ion-card (click)="irNoticia()">
      <img alt="Silhouette of mountains" src="{{item.imagen}}" />
      <ion-card-header>
        <ion-card-title>{{item.titulo}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content id="texto">{{item.desc}}</ion-card-content>
    </ion-card>
  }
  
  

  
</ion-content>
